.close-button {
    background: none;
    border: none;
    color: white;
    transition: color 0.1s;
    transition-timing-function: ease-in;
}
.close-button:hover {
    background: none;
    border: none;
    color: red;
}
.close-button:active {
    background: none;
    border: none;
    color: pink;
}
html {
    background-color: #242424;
    color: white;
    height: 100%;
    font-family: sans-serif;
}
input[type="file"]::file-selector-button {
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, green, deepskyblue);
    transition: filter 0.1s;
    transition-timing-function: ease-in;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}
input[type="file"]::file-selector-button:hover {
    filter: brightness(150%);
}
input[type="file"]::file-selector-button:active {
    filter: brightness(75%);
}
a {
    color: white;
    text-decoration: none;
}
.link {
    color: deepskyblue;
    text-decoration:underline;
    text-decoration-style: dotted;
}
hr {
    border: solid;
    border-width: 1px;
    color: white;
}
.input {
    background-color: #0c0c0c;
    border: solid;
    color: white;
    border-width: 2px;
    border-color: white;
    font-size: 15pt;
    border-radius: 10px;
}
/*
.content {
    margin: 0px, 0px;
    width: 100%;
    height: 100%;
    background-color: #242424;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}
*/
.media {
    max-width:100%;
}
.external {
    background: black;
}
.nav {
    font-size: 30px;
    transition: filter 0.1s;
    transition-timing-function: ease-in;
}
.nav:hover {
    filter: brightness(150%);
}
.nav:active {
    filter: brightness(75%);
}
.softcard {
    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;
    background: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
}
.szcard {
    background: linear-gradient(to bottom right, green, deepskyblue);
}
.download {
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, green, deepskyblue);
    transition: filter 0.1s;
    transition-timing-function: ease-in;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}
.download:hover {
    filter: brightness(150%);
}
.download:acive {
    filter: brightness(75%);
}
.thumb {
    background: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.code {
  resize: none;
  background-color: #0c0c0c;
  border: none;
  color: white;
  font-family: monospace;
  border-radius: 10px;
  width: 90%;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  height:250px;
}
@font-face {
    font-family: 'sweetlogo';
    src: url('/sweetlogo.ttf') format('truetype'), url('/sweetlogo.otf') format('opentype'), url('/sweetlogo.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.logo {
    font-family: "sweetlogo";
}
.social {
    border: none;
    border-radius: 10px;
    background-color: rgba(36,36,36);
    background-image: url("/lower-background.svg");
    background-size: cover;
    padding: 5px;
    transition: filter 0.1s, transform 0.1s, width 0.5s;
    width:24px;
    height: 24px;
    overflow: hidden;
    transition-timing-function: ease-in;
    display: inline-block;
    word-wrap: break-word;
}
.social:hover {
    filter: brightness(125%);
    transform: translateY(-2px);
    width: 200px;
}
.pfp {
    border-radius: 100%;
}
table {
    border: solid;
    border-color: white;
}
table, td {
    border: solid;
    border-color: white;
    border-width: 1px;
}
.borderless, .borderless table, .borderless td {
    border: none;
    border-width: 0px;
}
